{% extends 'layout.html' %}

{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <td>{{ worker.name }}</td>
                <td>{{ worker.birth }}</td>
                <td>{{ worker.address }}</td>
                <td>{{ worker.passport_serial }}</td>
                <td>{{ worker.passport_date }}</td>
                <td>{{ worker.passport_issuer }}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <h3>Какие договоры сгенерировать?</h3>
    <br/>
    <form method="post">
        {% csrf_token %}
        {% for contract in contracts %}
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        value="{{ contract.value }}"
                        id="contract__{{ forloop.counter0 }}__check"
                        name="contracts"
                >
                <label class="form-check-label" for="contract__{{ forloop.counter0 }}__check">Добавить </label>
            </div>

            <div class="mb-3 row">
                <label for="contract__{{ forloop.counter0 }}__range" class="col-sm-2 col-form-label">
                    Период
                </label>
                <div class="col-sm-10">
                    <input
                            type="text"
                            readonly
                            class="form-control-plaintext"
                            value="{{ contract.range }}"
                            id="contract__{{ forloop.counter0 }}__range"
                    >
                </div>
            </div>
            <div class="mb-3 row">
                <label for="contract__{{ forloop.counter0 }}__price" class="col-sm-2 col-form-label">
                    Цена
                </label>
                <div class="col-sm-10">
                    <input
                            type="text"
                            readonly
                            class="form-control-plaintext"
                            value="{{ contract.price }}"
                            id="contract__{{ forloop.counter0 }}__price"
                    >
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">
                    Услуги
                </label>
                <div class="col-sm-10">
                    <i>{{ contract.service }}</i>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Сгенерировать</button>
    </form>
{% endblock %}